@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.app:before{
  content: '';
  background: url(./assets/may-da-lat.jpg) no-repeat center/cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.search-result{
  text-align: start;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 12px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  left: 25%;
}